@mixin border($radius, $color) {
  border: 1px solid $color;
  border-radius: $radius;
}

@mixin input($bg) {
  width: 260px;
  height: 38px;
  padding: 9px 0 7px 8px;
  margin: 0 auto 8px;
  background: $bg;
  outline: none;
}

@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
}